.p-2 {
  padding: .5rem!important;
}

.p-4 {
  padding: 1.5rem!important;
}

.p-5 {
  padding: 3rem!important;
}

.px-4 {
  padding-right: 1.5rem!important;
  padding-left: 1.5rem!important;
}

.py-5 {
  padding-top: 3rem!important;
  padding-bottom: 3rem!important;
}

.pt-0 {
  padding-top: 0!important;
}

.pe-0 {
  padding-right: 0!important;
}

.pb-0 {
  padding-bottom: 0!important;
}

.pb-6 {
  padding-bottom: 4.5rem !important;
}

.ps-0 {
  padding-left: 0!important;
}

.ps-5 {
  padding-left: 3rem!important;
}

