/* Font */

body {
  font-family: Poppins, sans-serif;
}

/* disable text Selection */

body {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

/* Disable dragging images */

img {
  -webkit-user-drag: none;
  user-drag: none;
  pointer-events: none;
}

/* styles */

.hero-section {
  position: relative;
  width: 100%;
  background-color: #80cb5d;
  background-image: url('../../assets/img/greenbg.webp');
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.gradient-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, rgba(14, 76, 161, 0.9), transparent);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-top: 8rem;
}

@media (min-width: 768px) {
  .hero-content {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

.rounded-button {
  border-radius: 8px;
}

.text-primary-custom {
  color: #111111;
}

.text-primary-custom:hover {
  color: var(--bs-gray-100);
  background-color: var(--bs-success) !important;
}

.bg-secondary-custom {
  background-color: #e63312;
}

.bg-secondary-hover:hover {
  background-color: #cc2c10;
}

.element:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1) , -10px -10px 10px white;
}

@media (min-width: 300px) {
  .bg-secondary-custom.rounded-button.bg-secondary-hover {
    width: 10rem;
  }
}

@media (min-width: 300px) {
  .text-primary-custom.rounded-button {
    width: 10rem;
  }
}

/* form */

@media (min-width: 300px) {
  #contact {
    max-width: 100%;
  }
}

