/* Effcet */

@keyframes cinematicReveal {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(50px);
    letter-spacing: 0.2em;
    filter: blur(8px) brightness(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1.05) translateY(0);
    filter: blur(0) brightness(1.2);
  }
  100% {
    transform: scale(1);
    letter-spacing: normal;
    opacity: 1;
    filter: none;
  }
}

.cinematic {
  display: inline-block;
  font-size: 3rem;
  font-weight: 700;
  color: white;
  text-shadow: 0 0 15px rgba(10,10,10,0.6);
  animation: cinematicReveal 3s ease-out forwards;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  animation: slideInLeft 3s ease-out forwards;
}

@keyframes smokeFade {
  0% {
    opacity: 0;
    filter: blur(20px);
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    filter: blur(2px);
    transform: scale(1);
  }
}

.smoke-img {
  width: 100%;
  height: auto;
  opacity: 0;
  filter: blur(10px);
  transform-origin: center center;
  animation: smokeFade 5s ease-in-out forwards, spinLoop 30s linear infinite;
  transform-origin: center center;
}

@keyframes spinLoop {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

